NCS_TOOLCHAIN_ROOT=/path/to/nordic/ncs/toolchains/toolchain-id
ZEPHYR_BASE=/path/to/nordic/ncs/version/zephyr
ZEPHYR_GDB=/path/to/nordic/ncs/toolchains/toolchain-id/opt/zephyr-sdk/gnu/arm-zephyr-eabi/bin/arm-zephyr-eabi-gdb
ZEPHYR_OBJDUMP=/path/to/nordic/ncs/toolchains/toolchain-id/opt/zephyr-sdk/gnu/arm-zephyr-eabi/bin/arm-zephyr-eabi-objdump
ZEPHYR_NM=/path/to/nordic/ncs/toolchains/toolchain-id/opt/zephyr-sdk/gnu/arm-zephyr-eabi/bin/arm-zephyr-eabi-nm
OPENOCD=/path/to/openocd
OPENOCD_SCRIPTS=/path/to/openocd/scripts
JLINK_GDB_SERVER=/path/to/JLinkGDBServer
